<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="mat-elevation-z0" fxFlex="60" fxFlex.lt-md="90">
    <nav mat-tab-nav-bar>
      <a mat-tab-link fxLayout="column" fxFlex="1 1 auto" [routerLink]="[link.path]" routerLinkActive="active"
        #tabLink="routerLinkActive" [active]="tabLink.isActive" *ngFor="let link of tabLinks">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.displayName}}</span>
      </a>
    </nav>
    <mat-card class="mat-elevation-z0" fxLayout="column">
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
